html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
}
body { 
    display: flex; 
    flex-direction: column;
    text-align: center; 
    font-family: 'Lato';
}
#header { 
    font-family: 'Lato';
    display: flex; 
    flex-direction: row;
    min-height: 17%; 
    height: 17%; 
    text-align: center; 
    font-size: 200%; 
    background-image: linear-gradient(to bottom right, DeepSkyBlue, gold);
}
#header div { 
    width: 33%; 
}

#search {
    min-height: 20%;
    height: 23%;
    background-image: linear-gradient(to bottom left, gold, DeepSkyBlue);
}
#charts {
    background-image: linear-gradient(to bottom right, DeepSkyBlue, gold);
    min-height: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

#charts div {
    width: 50%;
    max-width: 50%;
    min-height: auto;
}

#pollution-chart {
    min-height: 90%;
    min-width: 90%;
    height: 85%;
    width: 85%;
}

svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}
.ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-60%) rotate(-38deg);
  white-space:nowrap;
  color: black;
}

#air-span {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Lato';
}

#no-data {
    color: red;
    font-size: 125%;
    font-weight: bolder;
}
